In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv("basket_analysis.csv")

In [60]:
df.head()

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    999 non-null    int64
 1   Apple         999 non-null    bool
 2   Bread         999 non-null    bool
 3   Butter        999 non-null    bool
 4   Cheese        999 non-null    bool
 5   Corn          999 non-null    bool
 6   Dill          999 non-null    bool
 7   Eggs          999 non-null    bool
 8   Ice cream     999 non-null    bool
 9   Kidney Beans  999 non-null    bool
 10  Milk          999 non-null    bool
 11  Nutmeg        999 non-null    bool
 12  Onion         999 non-null    bool
 13  Sugar         999 non-null    bool
 14  Unicorn       999 non-null    bool
 15  Yogurt        999 non-null    bool
 16  chocolate     999 non-null    bool
dtypes: bool(16), int64(1)
memory usage: 23.5 KB

In [62]:
df = pd.DataFrame(df)

In [63]:
print(df)

     Unnamed: 0  Apple  Bread  Butter  Cheese   Corn   Dill   Eggs  Ice cream  \
0             0  False   True   False   False   True   True  False       True
1             1  False  False   False   False  False  False  False      False
2             2   True  False    True   False  False   True  False       True
3             3  False  False    True    True  False   True  False      False
4             4   True   True   False   False  False  False  False      False
..          ...    ...    ...     ...     ...    ...    ...    ...        ...
994         994  False   True   False   False  False  False   True      False
995         995   True  False   False   False   True  False  False      False
996         996   True  False   False   False   True   True  False      False
997         997  False  False    True    True   True  False   True       True
998         998  False  False   False   False  False  False  False      False

     Kidney Beans   Milk  Nutmeg  Onion  Sugar  Unicorn  Yogurt  chocolate
0           False  False   False  False   True    False    True       True
1           False   True   False  False  False    False   False      False
2           False   True   False  False  False    False    True       True
3           False   True    True   True  False    False   False      False
4           False  False   False  False  False    False   False      False
..            ...    ...     ...    ...    ...      ...     ...        ...
994         False  False   False  False  False     True   False       True
995          True   True    True  False  False    False    True      False
996         False  False   False  False   True    False   False       True
997          True  False    True  False   True    False    True       True
998         False   True   False  False  False    False   False       True

[999 rows x 17 columns]

In [64]:
df_clean = df.drop(columns=['Unnamed: 0'])
transactions = []
for i, row in df_clean.iterrows():
    basket = [item for item in df_clean.columns if row[item] == True]
    
    if basket:
        transactions.append(set(basket))

In [65]:
print(transactions[:5])

[{'Bread', 'chocolate', 'Dill', 'Corn', 'Yogurt', 'Sugar', 'Ice cream'}, {'Milk'}, {'chocolate', 'Butter', 'Dill', 'Yogurt', 'Ice cream', 'Apple', 'Milk'}, {'Butter', 'Dill', 'Nutmeg', 'Onion', 'Cheese', 'Milk'}, {'Bread', 'Apple'}]

In [66]:
def get_support(transactions, itemset):
    cnt = 0
    for basket in transactions:
        if itemset.issubset(basket):
            cnt += 1
    return cnt / len(transactions)

In [67]:
!pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

Requirement already satisfied: mlxtend in c:\users\user\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [74]:
frequent_itemsets = apriori(df_clean, min_support=0.1, use_colnames=True)

In [75]:
display(frequent_itemsets)

      support                        itemsets
0    0.383383                         (Apple)
1    0.384384                         (Bread)
2    0.420420                        (Butter)
3    0.404404                        (Cheese)
4    0.407407                          (Corn)
..        ...                             ...
164  0.101101  (chocolate, Nutmeg, Ice cream)
165  0.101101   (chocolate, Onion, Ice cream)
166  0.100100    (Nutmeg, Kidney Beans, Milk)
167  0.101101  (Yogurt, Nutmeg, Kidney Beans)
168  0.104104       (chocolate, Yogurt, Milk)

[169 rows x 2 columns]

In [80]:
rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.2)

In [81]:
display(rules[["antecedents","consequents","support", "confidence", "lift"]], frequent_itemsets)

       antecedents     consequents   support  confidence      lift
0         (Butter)     (Ice cream)  0.207207    0.492857  1.200889
1      (Ice cream)        (Butter)  0.207207    0.504878  1.200889
2         (Butter)  (Kidney Beans)  0.202202    0.480952  1.177626
3   (Kidney Beans)        (Butter)  0.202202    0.495098  1.177626
4      (chocolate)        (Butter)  0.202202    0.479810  1.141262
5         (Butter)     (chocolate)  0.202202    0.480952  1.141262
6   (Kidney Beans)        (Cheese)  0.200200    0.490196  1.212143
7         (Cheese)  (Kidney Beans)  0.200200    0.495050  1.212143
8      (chocolate)     (Ice cream)  0.202202    0.479810  1.169098
9      (Ice cream)     (chocolate)  0.202202    0.492683  1.169098
10     (chocolate)          (Milk)  0.211211    0.501188  1.236263
11          (Milk)     (chocolate)  0.211211    0.520988  1.236263

      support                        itemsets
0    0.383383                         (Apple)
1    0.384384                         (Bread)
2    0.420420                        (Butter)
3    0.404404                        (Cheese)
4    0.407407                          (Corn)
..        ...                             ...
164  0.101101  (chocolate, Nutmeg, Ice cream)
165  0.101101   (chocolate, Onion, Ice cream)
166  0.100100    (Nutmeg, Kidney Beans, Milk)
167  0.101101  (Yogurt, Nutmeg, Kidney Beans)
168  0.104104       (chocolate, Yogurt, Milk)

[169 rows x 2 columns]